# s t a r t

### IDE ###
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
.DS_Store
.idea/
.idea/*

### NOTEBOOKS ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

### PYTHON ###
__pycache__/
*.py[cod]
*.save
*$py.class

### VIRTUAL ENV ###
.env
.venv
env/
venv/
.fas/
scene_graph/

### TEST ###
test/o3d_test/data/*

### IMAGES ###
input/data/threed_ssg/scene_graph_diagram_objclass200/*

### MESHES ###
render/data/three_scan/scans
render/data/three_scan/download.py
render/data/shapenet_core/
render/data/shapenet_sem/
!render/data/shapenet_sem/metadata_3ddssg_dim.csv
!render/data/shapenet_sem/metadata.csv
render/data/threed_front/
render/data/threed_future/

### OUTPUTS ###
output/*
out/*

### others ###
solr/
archive/*
script.sh

### CMD Script ###
script.sh

# react 

# python < 3.7
e2cnn/

# dependencies
react-client/node_modules
react-client/.pnp
react-client/.pnp.js

# production
react-client/build

config/paths.py
# e n d
